{% extends "LostAdminBundle::login_layout.html.twig" %}

{% block body %}
    <div class="login-box">
      <div class="login-logo">
	  <a href="{{ url('lost_admin_dashboard') }}"><img src="{{ asset('bundles/lostadmin/images/Lost-logo.png') }}" width="109" height="50"></a>
      </div>
	  <div class="login-box-body">
		<h4 class="login-box-msg">Forgot Password</h4>
            
                {% block fos_user_content %}
                    {% trans_default_domain 'FOSUserBundle' %}
                    
                    <form action="{{ path('lost_admin_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" id="forgot_password">
                        {% include "LostUserBundle::flashMessage.html.twig" %}
                        
                            {% if invalid_username is defined %}
                                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                            {% endif %}
{#                            <label for="username">{{ 'resetting.request.username'|trans }}</label>#}
                            <div class="form-group has-feedback"><input type="text" id="username" name="username" required="required" class="form-control" placeholder="username or email address" />
							<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
							</div>
                        <div class="row">
                            <div class="col-xs-12">
					<input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-success "/></div></div>
                        
                    </form>
                {% endblock fos_user_content %}
            
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {
                        
            $('#forgot_password').validate({
                rules: {
                    "username": {
                        "required": true
                    }
                },
                messages: {
                    "username": {
                        "required": "Please enter username/email.",
                    }
                }
            });
        });
    </script>

{% endblock javascripts %}