<p>Hello Support Team, <p>
<br />
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>First Name:</td>
		<td>{{ data.firstname }}</td>
	</tr>
	<tr>
		<td>Last Name:</td>
		<td>{{ data.lastname }}</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>{{ data.email }}</td>
	</tr>
	<tr>
		<td>Phone:</td>
		<td>{{ data.number }}</td>
	</tr>
	<tr>
		<td>Category:</td>
		<td>{{ data.category }}</td>
	</tr>
	<tr>
		<td>Service:</td>
		<td>{{ data.services }}</td>
	</tr>
	<tr>
		<td>Location:</td>
		<td>{{ data.location }}</td>
	</tr>
	<tr>
		<td>Time Available:</td>
		<td>{{ data.time }}</td>
	</tr>
	<tr>
		<td>Comments:</td>
		<td>{{ data.message }}</td>
	</tr>
</table>
<br /><br />
Regards,
<br />
{{ data.firstname }}